/* 这是外部引入的热门演出的样式 */
/* .swiper-container{
        width:100%;
        height:"300px";
        overflow:hidden
    } */

#swiper-container-text{
        /* background: "black";
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; */

        width: "107px";
        white-space: "nowrap";
        overflow: "hidden";
        text-overflow: "ellipsis";
        
        margin-bottom: "5px";
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
}