<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div data-v-8c510d6a="" className="hot-block">
        <div data-v-8c510d6a="" className="hot-block__lab"><h3 data-v-8c510d6a="" className="hot-block__lab__title">热门演出</h3> <a data-v-8c510d6a="" href="https://m.juooo.com/show/showsLibrary" className="hot-block__lab__arrow"></a></div>
        </div>

        <div>
          <div data-v-8c510d6a="" className="hot-block__list hot-list">
              <div data-v-8c510d6a="" className="swiper-container swiper-container-horizontal">
                  <div data-v-8c510d6a="" className="swiper-wrapper" style="transition-duration: 0ms;">
                      <div data-v-8c510d6a="" className="swiper-slide swiper-slide-active" style="width: 107px; margin-right: 8px;">
                        <div data-v-8c510d6a="" className="hot-block__list__wrap__item"></div> <h3 data-v-8c510d6a="" className="hot-block__list__wrap__title text-double">弗洛朗·莫特 Florent Mothe 2019演唱会 -深圳站</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div data-v-79a44e7f="" data-v-29e94656="" class="category-block category-wrap" >
            <div data-v-79a44e7f="" class="category-block__list">
                <div data-v-79a44e7f="" class="category-block__list__wrap">
                    <h3 data-v-79a44e7f="" class="category-block__list__wrap__title">演唱会</h3>
                     <a data-v-79a44e7f="" href="https://m.juooo.com/show/showsLibrary?cid=0&amp;caid=35" class="category-block__list__wrap__arrow">
                        <img data-v-79a44e7f="" src="#"></a></div> <div data-v-79a44e7f="" title="rgba(78,67,68,1)" class="category-block__list__row" style="background: rgb(78, 67, 68);"><div data-v-79a44e7f="" class="row--bg"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/109280" class="category-block__list__row__wrap"><div data-v-79a44e7f="" class="category-block__list__row__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/E1/rAoKNV2-pHOAL6r8AACBO4-1iww658.jpg" class="img"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <div data-v-79a44e7f="" class="category-block__list__row__info"><p data-v-79a44e7f="" class="category-block__list__row__info__date"><strong data-v-79a44e7f="">2019.12.15</strong> <span data-v-79a44e7f="">周日 20:00</span></p> <h3 data-v-79a44e7f="" class="category-block__list__row__info__title text-double">
            【万有音乐系】《梁心頤-心之所归演唱会》-深圳
                </h3> <p data-v-79a44e7f="" class="category-block__list__row__info__venue text-single">
            深圳 |
            深圳HOU Live
          </p></div></a></div></div> 
          
          
          
          <div data-v-79a44e7f="" class="category-block__list__column"><div data-v-79a44e7f="" class="swiper-container swiper-container-horizontal"><div data-v-79a44e7f="" class="swiper-wrapper"><div data-v-79a44e7f="" class="swiper-slide swiper-slide-active" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/108862" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/DB/rAoKNV2xbb6AV6AoAABR8G5-aBc157.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              w-inds. 2019“未来/过去”上海演唱会
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥580</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide swiper-slide-next" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/108465" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/D5/rAoKNV2m4_uAZoTzAABTfmpkglA447.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              聚橙制作 | 弗洛朗·莫特 Florent Mothe 2019演唱会 -上海站
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥480</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/107548" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/C0/rAoKNV2DL-CAbxpqAABODwZVDjk099.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              林宥嘉idol世界巡回演唱会-杭州站
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥380</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/106330" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/09/rAoKmV1viuuATyypAAA9hxPLH90302.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              王心凌 - CYNDILOVES2SING 「爱。心凌 」2019巡回演唱会-武汉站
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥280</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/105040" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/02/FB/rAoKmV1boPqAIp9LAAA5pSRvcmM681.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              浪漫拾光 —— 小野丽莎相守十周年广州演唱会
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥280</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/107227" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/C1/rAoKNV2EKqSANVGEAACWdZL3M5M605.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span><span class="logo_i"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              【万有音乐系】Luke Thompson2019巡回演唱会-北京站
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥99</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/106388" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/B4/rAoKNV1wrfGAc7JGAARvhu6LRgg393.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              伍佰 &amp; China Blue Rock Star 2019演唱会-长沙站
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥280</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/106389" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/03/B4/rAoKNV1wsfSAU67TAAMqZuAIbQI231.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              2019张信哲世界巡回演唱会长沙站——未来式
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥380</strong> <span data-v-79a44e7f="">起</span></p></a></div><div data-v-79a44e7f="" class="swiper-slide" style="width: 107px; margin-right: 8px;"><a data-v-79a44e7f="" href="https://m.juooo.com/ticket/105568" class="category-block__list__column__wrap"><div data-v-79a44e7f="" class="category-block__list__column__item"><img data-v-79a44e7f="" src="https://image.juooo.com//group1/M00/02/FB/rAoKmV1cl0mALvJwAABss1G5TCc394.jpg"> <div data-v-79a44e7f="" class="juooo_sponsor"><span class="icon-img icon-destine"></span></div></div> <h3 data-v-79a44e7f="" class="category-block__list__column__title text-double">
              2019 韦礼安「而立」世界巡回演唱会-福州站
            </h3> <p data-v-79a44e7f="" class="category-block__list__column__price"><strong data-v-79a44e7f="" class="c_ff6">¥280</strong> <span data-v-79a44e7f="">起</span></p></a></div></div></div></div></div>
            </div>















</body>
</html>