/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a{
  text-decoration: none;
} */


/* 底部导航TabBar */
footer{
  height:3rem;
  display: flex;
  justify-content: space-around;
  background: #fbfbfb;
  position: fixed;
  bottom:0;
  width:100%;
}
.App-link {
  color: #555;
  margin:5px;
  font-size:1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Home-link {
  margin:5px;
  font-size:1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-active{
  color: orange;
}
.item-desc{
  font-size:.8rem;
}
.item-icon{
  font-size:1.6rem;
  font-weight:bold;
}
