.header{
    padding:40px;
}
.logo-h1{
    font-size: 32px;
    margin-bottom: 40px;
}
.height{
    display: block;
    height:40px;
    width:100%;
    font-size: 16px;
    outline: none;
    border: none;
}
.input{
    height:40px;
    font-size: 16px;
    border: none;
    outline: none;
}
.span{
    display: block;
    width:73px;
    height: 34px;
    border:1px solid gray;
    padding: 2px;
    border-radius: 20%;
    line-height: 34px;
}
.div{
    display: flex;
}
.div1{
    text-align: center;
    margin:40px auto;
    width:200px;
    height:50px;
    line-height: 50px;
    border-radius: 10px;
    background: orangered;
}