#all .bold{
  text-align: center;
  font-size: 1.8rem;
  margin: 1rem 0;
}
#all .main{
  padding:0 2rem;
  height: 100%;
  padding-top: .32rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  background: #FCFCFC;
  text-align: center;
}
/* #all .main header{
  position: fixed;
  top: 0;
  width: 10rem;
  height: 1.17333rem;
  line-height: 1.17333rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  background-color: #fefefe;
  z-index: 100;
} */
/* #all .main header h3{
  font-size: .48rem;
  font-weight: 400;
  color: #232323;
  padding: 0 1.33333rem;
} */
a{
  text-decoration: none;
}
#all .main .content{
height: 22rem;
background-color: #fefefe;
-webkit-box-shadow: 0 0.05333rem 0.4rem 0.02667rem rgba(35,35,35,.08);
box-shadow: 0 0.05333rem 0.4rem 0.02667rem rgba(35,35,35,.08);
border-radius: .10667rem;
border: 1px solid #ebebeb;
margin-bottom: .4rem;
padding: 1.5rem 0.8rem;
}
#all .main .content .top{
  height: 5rem;
  align-items: center;
  margin-bottom: 2rem;
}
#all .main .content .top .left{
  float: left;
  height:5rem;
  margin: 0 2rem 0 1rem;
  display: flex;
  text-align: left;
}
#all .main .content .top .left img{
  width: 6rem;
  height: 6rem;
  margin-right: 1rem;
  overflow: hidden;
  float: left;
}
#all .main .content .top .left h3{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 1rem 0 .13333rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #232323;
  font-weight: 700;
}
#all .main .content .top .left p{
  color: #666;
  font-size: .9rem;
}
#all .main .content .top .right{
  float: right;
  font-size: 1.875rem;
  margin-right: 10%;
  display: block;
}
#all .main .content .bottom{
  display: flex;
  justify-content: space-between;
  font-size: 0;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}
#all .main .content .bottom .showList{
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
#all .main .content .bottom .date{
  position: relative;
  border-bottom: .05333rem solid #ebebeb;
  border-radius: .02667rem;
  padding-bottom: .38667rem;
  margin: .8rem;
}
#all .main .content .bottom .date p{
  color: #b3b3b3;
  font-size: 1rem;
  padding-right: 0.8rem;
  text-align: center;
  height: 0.8rem;
  margin-bottom: .8rem;
}
#all .main .content .bottom .date span{
  position: absolute;
  left: 40%;
  bottom: -.12rem;
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #ccc;
}
#all .main .content .bottom a{
  display: block;
  height: 14rem;
  line-height:8rem;
  overflow: hidden;
  margin-right: 15%;
}
#all .main .content .bottom a img{
  border: none;
  border-color: transparent;
  vertical-align: middle;
  display: inline-block;
  width: 9rem;
  height: 11rem;
}
#all .main .content .bottom .more a{
  display: block;
  width: 8rem;
  height: 100%;
}
#all .main .content .bottom .more a p{
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f5f5f5;
  color: #666;
  font-size: 1.2rem;
  margin:0;
} 